body {
    font-family: cursive, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    position: relative;
    height: 100%;
    margin: 0;
    background: rgb(64, 164, 242);
    background: linear-gradient(90deg, rgba(64, 164, 242, 1) 0%, rgba(56, 206, 233, 1) 25%, rgba(0, 255, 195, 1) 100%);
}

.body-playmode {
    background: rgb(34, 193, 195);
    background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}


.english__categories-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.categorie {
    width: auto;
    height: auto;
    text-align: center;
    position: relative;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .4);
    transition: .3s;
}

.categorie:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .6);
}

.categorie__image {
    width: 100%;
}

.categorie__link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.categorie__text {
    background-color: white;
    margin: 0;
    padding: 16px 0;
    font-size: 27px;
}

.logo {
    font-size: 40px;
}

@media screen and (max-width: 1330px) {
    .english__categories-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1023px) {
    .english__categories-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .english__categories-container {
        grid-template-columns: 1fr;
    }
    .logo {
        font-size: 25px;
        width: 109px;
    }
    

}